.card-1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url("../../../assets/assetss/gorillas.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-position: center;
    height: 500px;
    border-radius: 20px;
  }
  .card-2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url("../../../assets/assetss/pascal-meier-UYiesSO4FiM-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-position: center;
    height: 500px;
    border-radius: 20px;
  }
  .card-3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url("../../../assets/assetss/cars.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-position: center;
    height: 500px;
    border-radius: 20px;
  }
  .card-4 {
    background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url("../../../assets/assetss/convention.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-position: center;
    height: 500px;
    border-radius: 20px;
  }

  .card-5 {
    background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url("../../../assets/assetss/accomodations.avif");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-position: center;
    height: 500px;
    border-radius: 20px;
  }