.policy .title {
  font-weight: 500;
  color: #000000;
}

.policy h4.title {
  font-size: 18px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.policy p {
  text-align: justify;
  text-align-last: left;
  width: 100%;
  font-weight: 300;
  color: #333333;
  line-height: 25px;

}

.policy li {
  color: #333333;
  line-height: 25px;
}

.policy span.bold {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 500 !important;
  color: #000000;
}