.contact-covid-large {
  font-size: 32px !important;
  font-weight: 700;
}

.contact input.form-control {
  outline: 0 !important;
  box-shadow: none !important;
  border-radius: 0px !important;
  font-size: 12px !important;
  background: #f0eeee !important;
  border: 1px solid #f0eeee;
  height: 45px !important;
}

.contact input.form-control:hover,
.contact input.form-control:focus,
.contact input.form-control:active,

.contact textarea.form-control:hover,
.contact textarea.form-control:active,
.contact textarea.form-control:focus {
  border: 1px solid #f6a643;
}

.contact textarea.form-control {
  resize: none;
  height: 150px;
  border: 2px solid #f0eeee;
  background: #f0eeee !important;
}

.contact button.btn,
.contact button.btn:hover,
.contact button.btn:active,
.contact button.btn:focus {
  background: #558a54;
  border: 4px solid #558a54;
  color: #ffffff;
  height: 45px;
  transition: all 0.6s ease;
}


.social-icon-img {
  filter: invert(32%) sepia(94%) saturate(1509%) hue-rotate(138deg) brightness(92%) contrast(85%);
  width: 50px; /* Adjust size as needed */
  height: 50px;
}

.social-icon a {
  display: inline-block;
  padding-right: 10px !important;

}
.social-icons-container {
  display: flex;
  gap: 40px; /* Adjust the spacing as needed */
}