.form-column {
    background-color: #558a54;
    color: white;
    gap: 30px;
    text-align: center; /* Align text in the center */
    padding: 20px; /* Add padding for better aesthetics */
  }
h3{
    color:white;
    font-size: 12px;
}
/* Style for form container */
.p-5 {
    background-color: #f8f9fa; /* Light gray background for the form */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  }
  
  /* Style for form labels */
  .form-label {
    font-weight: bold;
  }
  
  /* Style for form input fields */
  .form-control-lg {
    border-radius: 8px;
  }
  .btn-ticket{
    background-color: #558a54;
    color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    border: 0px;
    justify-content: center;
    padding-top: 10px;
  }